@import "../fonts/font";

// Colors
$color-main-bg: #ffffff;
$color-heading: #094067;
$color-text: #5f6c7b;
$color-light-grey: #8f98a3;
$color-blue: #3da9fc;
$color-secondary: #90b4ce;
$color-tertiary: #ef4565;

// Fonts
$font: 'Poppins';

//
$max-content-xl: 128rem;

//transition
$transition-main: all 0.2s linear;

